* {
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yellowtail', cursive;
color: rgba(39, 76, 91, 1);
;
}

div, p, input, form, button, span, a, ul, li, img {
	box-sizing: border-box;
}

.box {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


.menu {
    display: flex;
    padding: 40px 30px;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation a {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
}

.home-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: rgba(126, 182, 147, 1);
}

.navigation ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.basket {
    width: 159px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid rgba(212, 212, 212, 1);
    border-radius: 33px;
    margin-left: 137px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    gap: 5px;
}

.basket:hover {
    transition: 1s;
    transform: scaleX(1.5) scaleY(1.5) rotate(360deg);
    margin-top: 10px;
    background-color: coral;
}

.img-basket {
    width: 56px;
    height: 56px;
    border-radius: 100px;
    background: rgba(51, 91, 107, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.checkbox,
.toggle {
    visibility: hidden;
}


.background-img1 {
    background-image: url(../img/head-pic.png);
    background-repeat: no-repeat;
    height: 913px;
}

h3 {
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    color: rgba(126, 182, 147, 1);
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
}

.welcome-page {
    width: 530px;
    padding-top: 220px;
    padding-left: 30px;
}

.main-btn{
    width: 219px;
    height: 82px;
    box-sizing: border-box;
    background-color: rgba(239, 211, 114, 1);
    border: none;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    margin: 30px 0 0 30px;
}

.arrow-right {
    width: 38px;
    height: 38px;
    border-radius: 100px;
    background: rgba(51, 91, 107, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


.expl-now {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
}

.blocks {
    display: flex;
    justify-content: space-evenly;
    padding: 140px 30px;
    align-items: center;
    align-content: center;
    gap: 50px;
}

.background-img2 {
    background-image: url(../img/natural-pic.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 665px;
    height: 378px;
}

.background-img3 {
    background-image: url(../img/offer-pic.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 665px;
    height: 378px;
}

.natural,
.offer {
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
}

.garden,
.sale {
    width: 260px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

.block1 p {
    color: rgba(255, 255, 255, 1);
}

.offer span {
    color: rgba(126, 182, 147, 1);
}

.block1,
.block2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block1-natural,
.block2-offer {
    width: 320px;
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}


.background-img-oranges {
    background-image: url(../img/oranges-pic.png);
    background-repeat: no-repeat;
    background-color: rgba(249, 248, 248, 1);
    background-position: left 4% center;
    padding-right: 20px;
}

.about-us-box {
    display: flex;
    justify-content: flex-end;
    padding: 130px 30px 140px 30px;
    align-items: center;
    align-content: center;
}

.oranges-pic {
    padding-right: 30px;
}

h2 {
    width: 521px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
}

.food-health p {
    width: 650px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding: 20px 0 56px 0;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
}

.org-text p,
.qs-text p {
    width: 520px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.org-text,
.qs-text {
    padding-left: 20px;
}

.org-food,
.e-box {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-round {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 47%;
    box-sizing: border-box;
    background-color: rgba(255, 244, 205, 0.6);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.organic-only {
    display: flex;
    flex-direction: column;
}

.about-org-food,
.about-quality-stand {
    display: flex;
}

.about-quality-stand {
    padding-top: 15px;
    padding-bottom: 50px;
}

.food-box .main-btn {
    width: 199px;
    position: relative;
    z-index: 1;
    background-color: rgba(39, 76, 91, 1);
    margin: 0;
}

.food-box .main-btn::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: coral;
    border-radius: 16px;
    top: 0;
    left: 0;
    z-index: -1;
}

.food-box .main-btn:hover:focus::before {
    width: 100%;
    transition: 1s;
}

.shop-now {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
}


.background-img-broc {
    background-image: url(../img/broccoli.png);
    background-repeat: no-repeat;
    background-position: top 67px left 30px;
}

.background-img-corn {
    background-image: url(../img/corn.png);
    background-repeat: no-repeat;
    background-position: top 67px left 30px;
}

.background-img-pistachio {
    background-image: url(../img/pistachio.png);
    background-repeat: no-repeat;
    background-position: top 67px left 30px;
}

.background-img-tomat {
    background-image: url(../img/tomatos.png);
    background-repeat: no-repeat;
    background-position: top 67px left 30px;
}

.background-img-almond {
    background-image: url(../img/almond.png);
    background-repeat: no-repeat;
    background-position: top 67px left 30px;
}

.background-img-hazelnuts {
    background-image: url(../img/hazelnut.png);
    background-repeat: no-repeat;
    background-position: top 67px left 30px;
}

.org-prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 132px 30px 0 30px;
}

.org-prod h2 {
    width: auto;
}

.sale-product {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 52px 30px 108px 30px;
}

.meal {
    width: 430px;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    background-color: rgba(249, 248, 248, 1);
    align-items: flex-start;
    padding: 30px 0 21px 30px;
}

hr {
    width: 387px;
    height: 1px;
    background-color: rgba(212, 212, 212, 1);
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    }

.type {
    width: 118px;
    height: 37px;
    border-radius: 8px;
    background: rgba(39, 76, 91, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-txt {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
}

.prod-name {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
}

.old-price,
.old-price sub {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0.36px;
    text-decoration-line: line-through;
    color: rgba(184, 184, 184, 1);
}

.new-price,
.new-price sub {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

sub {
    vertical-align: 0.5px;
}

.prices {
    display: flex;
    gap: 10px;
}

.prices-star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}


.background-img4 {
    background-image: url(../img/lem-cin-pic.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1248px;
}

.customer-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 131px 30px 60px 30px;
}

.customer-feedback h2 {
    width: auto;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 170px;
}

.feedback-sara {
    width: 915px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: rgba(82, 92, 96, 1);
}

.cust-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
}

.consumer {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: rgba(82, 92, 96, 1);
}

.hr-feedback {
    width: 966px;
    height: 2px;
    background-color: rgba(224, 224, 224, 1);
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.rounds-box {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 26px;
}

.round {
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(255, 255, 255, 1); 
    outline: 6px solid rgba(126, 182, 147, 1);
    border-radius: 200px;
    background-color: rgba(241, 241, 241, 1);
}

.fdb-txt1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    text-align: center;
}

.fdb-txt2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}


.spec-org-pr {
   background-color: rgba(39, 76, 91, 1);
}

.spec-org-pr .sale-product {
    justify-content: space-around;
    gap: 0px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 140px 45px 0 40px;
}

.organic-for-you {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

.organic-for-you h2 {
    color: rgba(255, 255, 255, 1);
}

.spec-org-pr .main-btn {
    width: 267px;
    margin-top: 30px;
}

.view-all-pr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}


.background-img-farm {
    background-image: url(../img/farm-pic.png);
    background-repeat: no-repeat;
}

.eco-friendly {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.eco-prod-head h2 {
    width: 300px;
}

.eco-friendly-box {
    height: 623px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: space-evenly;
    align-content: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 30px 0px 0px 30px;
    padding-left: 60px;
    padding-right: 40px;
    margin: 40px 100px 40px 0;
}

.choose-1,
.farmers-1,
.delivery-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
}

.choose-2,
.farmers-2,
.delivery-2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: rgba(82, 92, 96, 1);
}

.eco-prod-point {
    display: flex;
    width: 590px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.organic-food-blocks .blocks {
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 140px 0;
    gap: 29px;
    background-color: rgba(239, 246, 241, 1);
}

.background-img-juice {
    background-image: url(../img/fruit-juice.png);
    background-repeat: no-repeat;
    width: 451px;
    height: 580px;
}

.background-img-spinaci {
    background-image: url(../img/spinachi.png);
    background-repeat: no-repeat;
    width: 451px;
    height: 580px;
}

.background-img-cookies {
    background-image: url(../img/cookies.png);
    background-repeat: no-repeat;
    width: 451px;
    height: 580px;
}

.three-block-box {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.block-txt {
    width: 281px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.block-txt p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
}


.background-img5 {
    background-image: url(../img/orange-ice-pic.png);
    background-repeat: no-repeat;
    background-size: 97% 100%;
    background-position: center;
    height: 320px;
}

.email-news-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-top: 100px;
}

.news {
    display: flex;
    flex-direction: column;
}

.sun-news {
    width: 323px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: rgba(255, 255, 255, 1);
}

.email-btn {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.email-btn .main-btn {
    position: relative;
    z-index: 1;
    margin: 0;
    background-color: rgba(39, 76, 91, 1)
}

.email-btn .main-btn::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: coral;
    border-radius: 16px;
    top: 0;
    left: 0;
    z-index: -1;
}

.email-btn .main-btn:focus::before {
    width: 100%;
    transition: 2s;
}

.subscribe {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: rgba(255, 255, 255, 1)
}

.email {
    width: 350px;
    height: 82px;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: rgba(82, 92, 96, 1);
    padding-left: 30px;
}


.contact-us-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 87px 30px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    gap: 40px;
}

.utility-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
}

.email-txt,
.phone-txt,
.address-txt {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: rgba(82, 92, 96, 1);
}

.email-adr,
.number,
.comp-adr {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: rgba(82, 92, 96, 1);
}

.social-network {
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 45px;
    text-align: center;
    border-left: 1px solid rgba(213, 213, 213, 1); 
    border-right: 1px solid rgba(213, 213, 213, 1);
    padding: 0 40px 40px 40px;
}

.our-population {
    width: 542px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: rgba(82, 92, 96, 1);
}

.social-items {
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.social-round {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background: rgba(239, 246, 241, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.utility-pages p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: rgba(82, 92, 96, 1);
}