@media screen and (max-width: 1440px) {

    .small-round {
        right: 46%;
    }
}



@media screen and (max-width: 1280px) {

    .background-img1 {
        background-position: right 0% center;
        /*background-size: cover;*/
    }

    .small-round {
        right: 51.7%;
    }

    .background-img-oranges {
        background-size: 45%;
    }

    .spec-org-pr .sale-product {
        flex-direction: column;;
        gap: 30px;
    }

    .main {
        flex-direction: column;
    }

    .organic-for-you {
        text-align: center;
        align-items: center;
    }

    .eco-friendly-box {
        margin: 40px 20px 40px 0;
    }

    iframe {
        width: 1280px;
    }
}



@media screen and (max-width: 1152px) {

    .double-block .blocks {
        flex-direction: column;
        padding: 100px 30px;
    }
    
    .food-box {
        width: 570px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
    }    

    .food-health p {
        width: 520px;
    }

    .org-text p, .qs-text p {
        width: 420px;
    }

    .small-round {
        right: 50%;
    }

    .feedback-sara {
        width: 600px;
    }

    .round {
        width: 170px;
        height: 170px;
    }

    .hr-feedback {
        width: 700px;
    }

    .fdb-txt1 {
        font-size: 30px;
        line-height: 45px;
    }

    .fdb-txt2 {
        font-size: 16px;
        line-height: 20px;
    }

    .background-img-juice,
    .background-img-spinaci,
    .background-img-cookies {        
        background-size: 100% 80%;
        background-position: bottom 50% center;
    } 
    
    .block-txt {
        width: 200px;
        height: 80px;
    }

    .organic-food-blocks .blocks {
        padding: 70px 0;
    }

    .contact-us-box {
        justify-content: space-around;
        align-items: flex-start;
        padding: 87px 30px;
    }

    .social-network {
        width: 500px;
    }

    .our-population {
        width: 410px;
    }

    iframe {
        width: 1152px;
    }
}




@media screen and (max-width: 1024px) {

    .navigation ul {
        gap: 20px;
    }

    .basket:hover {
        transform: scaleX(1.2) scaleY(1.2) rotate(360deg);
    }

    .welcome-page {
        width: 600px;
        padding-top: 50px;
        padding-left: 30px;
    }

    .welcome-page h1 {
        font-size: 55px;
        line-height: 60px;
    }

    .background-img-oranges {
        background-image: none;
    }

    .about-us-box {
        justify-content: center;
        padding: 120px 30px 120px 30px;
    }

    .small-round {
        left: 23%;
    }

    .background-img-farm{
        background-image: none;
    }

    .eco-friendly {
        justify-content: center;
    }

    .eco-friendly-box {
        margin: 70px 0;
        border: 1px solid rgba(51, 91, 107, 1);
        border-radius: 30px 0px 0px 30px;
    }

    iframe {
        width: 1024px;
    }
}



@media screen and (max-width: 950px) {

    .checkbox,
    .toggle {
        visibility: visible;
    }

    .checkbox {
        opacity: 0;
    }

    .navigation .toggle {
        position: relative;
        top: 5px;
        left: 200px;
        cursor: pointer;
    }

    .toggle > span,
    .toggle > span::after,
    .toggle > span::before {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: rgb(22, 21, 21);
        position: absolute;
    }

    .toggle > span::before {
        top: -7px;
    }

    .toggle > span::after {
        top: 7px;
    }

    .navigation a {
        font-size: 23px;
        padding: 10px;
    }

    .navigation .menu-box li {  
        width: 100%;
        border-bottom: 1.5px solid rgba(51, 91, 107, 1);
        text-align: center;
    }

    .navigation ul {
        border: 1px solid rgba(51, 91, 107, 1);
        gap: 10px;
    }

    .menu-box {
        display: inline-block;
        flex-direction: column;
        position: fixed;
        top: 20%;
        left: 50%;
        background-color: rgb(243, 243, 237, 0.9);
        width: 40%;
        visibility: hidden;
        border-radius: 30px;
    }

    .checkbox:checked ~ .toggle > span {
        transform: rotate(45deg);
    }

    .checkbox:checked ~ .toggle > span::before {
        top: 0;
    }

    .checkbox:checked ~ .toggle > span::after {
        transform: rotate(90deg);
        top: 0;
    }

    .checkbox:checked ~ .menu-box {
        visibility: visible;
    }

    .small-round {
        left: 20%;
    }

    .fdb-txt1 {
        font-size: 30px;
        line-height: 45px;
    }

    .fdb-txt2 {
        font-size: 16px;
        line-height: 20px;
    }

    .background-img5 {
        background-size: 95% 80%;
        background-position: center top;
    }

    .email-news-box {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    .news {
        text-align: center;
    }

    .sun-news {
        width: 600px;  
        padding-bottom: 20px;
    }

    .organic-food-blocks .blocks {
        display: flex;
        flex-direction: column;
    }

    .background-img-juice, 
    .background-img-spinaci, 
    .background-img-cookies {
        background-size: 100% 100%;
        background-position: center;
    }

    .contact-us-box {
        flex-direction: column;
        align-items: center;
        gap: 20px; 
        padding: 0 30px 50px 30px;
    }

    .social-network {
        border-left: none;
        border-right: none;
        border-top: 1px solid rgba(213, 213, 213, 1);
        border-bottom: 1px solid rgba(213, 213, 213, 1);
        padding: 40px;
    }

    .footer-contacts {
        align-items: flex-start;
        text-align: left; 
    }

    iframe {
        width: 920px;
    }
}



@media screen and (max-width: 800px) {

    .small-round {
        left: 15%;
    }

    .feedback-sara {
        width: 500px;
    }

    .hr-feedback {
        width: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .rounds-box {
        width: 400px;
        flex-wrap: wrap;
        align-content: center;
        margin-left: 200px;
    }

    iframe {
        width: 800px;
    }
}



@media screen and (max-width: 768px) {

    .basket:hover {
        transform: scaleX(1.1) scaleY(1.1) rotate(360deg);
    }

    iframe {
        width: 768px;
    }
}



@media screen and (max-width: 640px) {

    .navigation .toggle {
        left: 120px;
    }

    .background-img2,
    .background-img3 {
        background-size: 80% 80%;
        width: 600px;
    }

    .block1, 
    .block2 {
        flex-wrap: wrap;
        align-items: flex-start;
        padding-left: 50px;
    }

    .double-block .blocks {
        gap: 0;
    }

    .about-us-box {
        padding: 120px 30px 120px 50px;
    }

    .small-round {
        left: 11%;
    }

    .customer-feedback h2 {
        width: auto;
        font-size: 35px;
        line-height: 48px;
    }

    .rounds-box {
        margin-left: 130px;
    }

    .eco-friendly-box {
        padding-left: 60px;
    }

    .eco-prod-point {
        width: 450px;
    }

    .eco-prod-head h2 {
        width: 300px;
        font-size: 30px;
        line-height: 30px;
    }

    .background-img5 {
        background-size: 95% 60%;
    }

    .email-news-box {
        padding-top: 40px;
    }

    .sun-news {
        font-size: 30px;
        line-height: 40px;  
        padding-bottom: 10px;
    }

    .email {
        width: 250px;
        height: 55px;
        font-size: 14px;
    }

    .email-btn .main-btn {
        width: 200px;
        height: 55px;
    }

    iframe {
        width: 640px;
    }
}



@media screen and (max-width: 425px) {

    .menu {
        display: flex;
        flex-direction: column;
    }

    .menu-box {
        top: 30%;
        left: 0%;
        width: 50%;
    }

    .navigation .toggle {
        left: -60px;
        top: 45px;
    }

    .welcome-page {
        width: 400px;
    }

    .welcome-page h3 {
        font-size: 25px;
        line-height: 55px;
    }

    .welcome-page h1 {
        font-size: 45px;
        line-height: 50px;
    }

    .background-img2, 
    .background-img3 {
        background-size: 90% 60%;
        width: 400px;
    }

    .block1, 
    .block2 {
        padding-left: 0;
    }

    .block1-natural p,
    .block2-offer p {    
        font-size: 30px;
        line-height: 40px;
    }

    .double-block .blocks {
        padding: 30px 30px;
    }

    .food-box {
        width: 320px;
        display: flex;
        flex-direction: column;
    }

    .food-health h3,
    .food-health h2 {  
        font-size: 25px;
        line-height: 40px;
    }

    h2 {
        width: 320px;
    }

    .food-health p {
        width: 320px;
        font-size: 15px;
        line-height: 25px;
    }

    .org-food, 
    .e-box {
        width: 70px;
        height: 70px;
    }

    .org-food img,
    .e-box img {
        width: 50%;
    }

    .small-round {
        width: 18px;
        height: 18px;
        left: 17%;
    }

    .org-text h4,
    .qs-text h4 {
        font-size: 18px;
        line-height: 25px;
    }

    .org-text p,
    .qs-text p {
        width: 220px;
        font-size: 14px;
        line-height: 25px;
    }

    .background-img-oranges {
        padding-right: 0;
    }
    .about-us-box {
        padding: 70px 30px 70px 50px;
    }

    .customer-feedback h2 {
        width: auto;
        font-size: 35px;
        line-height: 48px;
        text-align: center;
    }

    .feedback-sara {
        width: 300px;
    }

    .feedback {
        padding: 0 100px;
    }

    .cust-name {
        font-size: 15px;
        line-height: 20px;
    }

    .hr-feedback {
        width: 300px;
    }

    .round {
        width: 120px;
        height: 120px;
    }

    .rounds-box {
        margin-left: 20px;
    }

    .background-img-broc, .background-img-corn,
    .background-img-pistachio, .background-img-tomat,
    .background-img-almond, .background-img-hazelnuts {
        background-position: top 87px left 40px;
        background-size: 80%;
    }

    .meal {
        width: 300px;
        height: 470px;
    }

    hr {
        width: 260px;
    }

    .new-price, .new-price sub,
    .old-price, .old-price sub {
        font-size: 12px;
        line-height: 25px;
    }

    .prices-star .stars img {
        width: 12%;
    }

    .prices-star {
        gap: 7px;
    }

    .eco-friendly-box {
        width: 320px;
        height: 550px;
        padding-left: 10px;
     }   

    .eco-prod-head h3,
    .eco-prod-head h2 {  
        font-size: 25px;
        line-height: 40px;
    }

    .eco-prod-point {
        width: 300px;
    }

    .choose-1,
    .farmers-1,
    .delivery-1 {
        font-size: 20px;
        line-height: 30px;
    }

    .choose-2,
    .farmers-2,
    .delivery-2 {
        font-size: 15px;
        line-height: 20px;
    }

    .background-img-juice,
    .background-img-spinaci, 
    .background-img-cookies {
        background-size: 80% 80%;
        background-position: center;
        width: 400px;
    }

    .background-img5 {
        background-image: none;
        background-color: rgb(21, 180, 243);
    }

    .email-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 20px;
    }

    .sun-news {
        width: 300px;
        font-size: 26px;
        padding-bottom: 20px;
    }

    .email-news-box {
        padding-top: 60px;
    }

    .social-network {
        width: 400px;
    }

    .our-population {
        width: 300px;
    }

    .footer-contacts,
    .utility-pages {
        gap: 10px;
    }

    .contact-us-box {
        padding: 50px 30px 50px 30px;
    }

    iframe {
        width: 425px;
    }
}



@media screen and (max-width: 375px) {

    .welcome-page {
        width: 320px;
    }

    .welcome-page h1 {
        font-size: 35px;
        line-height: 40px;
    }

    .background-img2, 
    .background-img3 {
        background-size: 90% 50%;
        width: 320px;
    }

    .rounds-box {
        width: 300px;
        margin-left: 40px;
    }

    .background-img-juice, .background-img-spinaci, .background-img-cookies {
        background-size: 80% 70%;
        background-position: center;
        width: 320px;
    }

    .organic-food-blocks .blocks {
        gap: 0;
        padding: 0;
    }

    .social-network {
        width: 320px;
    }
    
    iframe {
        width: 375px;
    }
}



@media screen and (max-width: 320px) {

    .food-box {
        width: 300px;
    }

    h2 {
        width: 280px;
    }

    .food-health p {
        width: 280px;
    }

    .org-prod h2 {
        text-align: center;
    }

    .organic-only {
        width: 280px;
    }

    .org-food, .e-box {
        width: 50px;
        height: 40px;
    }

    .small-round {
        width: 15px;
        height: 15px;
        left: 10%;
    }

    .rounds-box {
        margin-left: 0px;
    }

    .our-population {
        width: 220px;
    }

    .social-round {
        width: 40px;
        height: 40px;
    }
    
    iframe {
        width: 320px;
    }
}
